/* Selector {
  Property: value;
} */

*{
  text-align: center;
}

body{
  background-image: url(background-img.jpg);
  background-size: cover;
}
p {
  color: lightblue;
  text-align: center;
  border: 2px solid rgba(247, 175, 162, 0.5);
  cursor: pointer;
}

img {
  float: left;
}

footer{
  clear: both;
  text-align: center;
}

p{
  color: pink ;
}

p{
  font-family: 'Antonio', sans-serif;
}

li{
  list-style: none;
  display: inline-block;
}

.webtext {
  border: 5px dashed green;
}

.active {
  color: red;
}


#div1 {
  background: rgba(0,0,255,0.2);
}

#div2 {
  background: rgba(255,0,0,0.2);
}
